.nav-menu {
  position: fixed; /* Fix position to the side */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  height: 100%; /* Full height */
  width: 250px; /* Width of the sidebar */
  background: #ffffff; /* Background color of the sidebar */
  display: flex;
  flex-direction: column;
  padding: 15px; 
}

.nav-menu-items {
  list-style: none; /* Remove default list styling */
  padding: 0; /* Remove default padding */
}

.nav-menu-items li {
  padding: 15px; /* Space between items */
}

/* Styles for the title */
.navbar-title {
  font-size: 24px; /* Title size */
  color: #5C0760;
  font-family: Kumar One; /* Use Kumar One font */
  font-weight: bold; /* Make it bold */
  margin-bottom: 20px; /* Space below the title */
  text-align: center; /* Center the title */
  pointer-events: none; /* Prevent any hover effects */
}

/* Styles for the sidebar items */
.nav-menu-items li a {
  color: black; /* Black text color for items */
  text-decoration: none; /* Remove underline */
  font-family: 'Montserrat', sans-serif; /* Use Montserrat font */
  display: flex; /* Flex for alignment */
  align-items: center; /* Center items vertically */
}

/* Adding space between icons and text */
.nav-menu-items li a span {
  margin-left: 10px; /* Space between icon and text */
}

/* Change background on hover for items only */
.nav-menu-items li:hover {
  background: #D917EB; 
}

.nav-menu-items li:hover .navbar-title {
  background: none; 
}


@font-face {
  font-family: 'Kumar One'; 
  src: url('./fonts/KumarOne-Regular.ttf') format('truetype'); 
  font-weight: normal; 
  font-style: normal; 
}